<ul class="menu">
    <li>
        <div>
            {{ partial "icon" "home" }}
            <span> 首页 </span>
        </div>
    </li>
    <li>
        <div>
            {{ partial "icon" "user" }}
            <span> 用户管理</span>
            {{ partial "icon" "chevron-down" }}
        </div>
        <ul class="sub-menu">
            <li> <span>用户</span></li>
            <li> <span>用户组</span></li>
        </ul>
    </li>
    <li>
        <div>
            {{ partial "icon" "data" }}
            <span> 资产管理 </span>
            {{ partial "icon" "chevron-down" }}
        </div>
        <ul class="sub-menu">
            <li> <span>资产</span></li>
            <li> <span>资产组</span></li>
        </ul>
    </li>
</ul>

<script>
    $("ul.menu > li > div").click(function(){
        $(this).find('.bx-chevron-down').toggleClass('active')
        $(this).parent().find('ul.sub-menu').toggleClass('active')
        $(this).parent().toggleClass('active')
    })
</script>