* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    position: relative;
}

.el-button.el-button--primary {
    background: #6633FF;
    border: 1px solid #6633FF;
}

.el-button.el-button--primary:hover {
    background: #6666FF;
    border: 1px solid #6666FF;
}